<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    <form>
        <tr>
            
            <td>
                
    firstname:    <input type="text" id="fname" name="firstname">
 </td>  </tr>
 <tr>
    <td>
        lastname: <input type="text" id=" lname" name="lastname">
    </td>
 </tr>
 <tr>
    <td>
    gender    <input type="radio" id="gender" name="male">male
    <input type="radio" id="gender" name="female">female
    </td>
 </tr>
 <tr>
    <td>
 sports <input type="checkbox" id="sports" name="cricket">cricket</td>
</tr>
 </form></table>
</body>
</html>
